#chart_header {
  padding: 0.2em;
  margin: 0 auto;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em; }

#bar_info {
  padding-top: 0.2em;
  font-size: 0.8em; }

#chart_container {
  max-width: 500px;
  border: 0.5px solid black;
  margin: 0 auto;
  overflow: scroll; }
  @media (min-width: 500px) and (max-width: 599px) {
    #chart_container {
      width: 475px; } }
  @media (min-width: 330px) and (max-width: 499px) {
    #chart_container {
      width: 320px; } }
  @media (max-width: 329px) {
    #chart_container {
      width: 250px; } }

.axis_label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #282829; }

.axis_line {
  stroke: #282829;
  stroke-width: 1; }

.stat_one {
  fill: #1da1f2;
  color: #1da1f2; }

path.stat_one {
  fill: none;
  stroke-width: 2;
  stroke: #1da1f2;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: 3s ease-in-out drawLine; }

@keyframes drawLine {
  0% {
    stroke-dashoffset: 1000; } }
circle.stat_one {
  fill: #1da1f2;
  stroke: none; }

.stat_two {
  fill: #66757f;
  color: #66757f; }

.stat_three {
  fill: #001b34;
  color: #001b34; }

#bar_area rect {
  animation: 0.8s cubic-bezier(0.17, 0.67, 0.65, 1.34) showBar; }

@keyframes showBar {
  0% {
    height: 0;
    y: 300; } }
