$svg_width: 600px; // equal to svg#main_chart width
$axis_color: #ffffff;
$stat_one_color: #1da1f2;
$stat_two_color: #e0245e;
$stat_three_color: #8ba0ad;
$bg_color: #001b34;
$stroke_dash_length: 1200;

html {
  background: $bg_color;
  color: $axis_color;
}

#chart_header {
  padding: 0.2em;
  margin: 0 auto;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

#bar_info {
  padding-top: 0.2em;
  font-size: 0.8em;
}

#chart_container {
  max-width: $svg_width; // equal to svg#main_chart width
  // border: 0.5px solid black;
  margin: 0 auto;
  overflow: scroll;
  @media (min-width: 500px) and (max-width: 599px) {
    width: 475px;
  }
  @media (min-width: 330px) and (max-width: 499px) {
    width: 320px;
  }
  @media (max-width: 329px) {
    width: 250px;
  }
}

.axis_label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: $axis_color;
}

.axis_line {
  stroke: $axis_color;
  stroke-width: 1;
}

.stat_one {
  fill: $stat_one_color;
  color: $stat_one_color;
}

path.stat_one {
  fill: none;
  stroke-width: 2;
  stroke: $stat_one_color;
  stroke-dasharray: $stroke_dash_length; // value longer than actual line
  stroke-dashoffset: 0;
  animation: 3s ease-in-out drawLine;
}

circle.stat_one {
  fill: $stat_one_color;
  stroke: none;
}

.stat_two {
  fill: $stat_two_color;
  color: $stat_two_color;
}

path.stat_two {
  fill: none;
  stroke-width: 2;
  stroke: $stat_two_color;
  stroke-dasharray: $stroke_dash_length; // value longer than actual line
  stroke-dashoffset: 0;
  animation: 3s ease-in-out drawLine;
}

circle.stat_two {
  fill: $stat_two_color;
  stroke: none;
}

.stat_three {
  fill: $stat_three_color;
  color: $stat_three_color;
}

path.stat_three {
  fill: none;
  stroke-width: 2;
  stroke: $stat_three_color;
  stroke-dasharray: $stroke_dash_length; // value longer than actual line
  stroke-dashoffset: 0;
  animation: 3s ease-in-out drawLine;
}

circle.stat_three {
  fill: $stat_three_color;
  stroke: none;
}
@keyframes drawLine {
  0% {
    stroke-dashoffset: $stroke_dash_length; // equal to stroke-dasharray
  }
}

#chart_buttons {
  margin: 0.2em 0em 0.2em 0em;
}

.chart_btn {
  border: 2px solid $axis_color;
  border-radius: 1em;
  background-color: $axis_color;
  color: $bg_color;
  font-size: 1em;

  &:focus {
    background-color: $bg_color;
    color: $axis_color;
  }
}
