$y_axis: 200; // equal to y-axis
$svg_width: 600; // equal to svg#main_chart width

$axis_color: #282829;
$stat_one_color: #1da1f2;
$stat_two_color: #66757f;
$stat_three_color: #001b34;

#chart_header {
  padding: 0.2em;
  margin: 0 auto;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

#bar_info {
  padding-top: 0.2em;
  font-size: 0.8em;
}

#chart_container {
  max-width: $svg_width; // equal to svg#main_chart width
	border: 0.5px solid black;
  margin: 0 auto;
  overflow: scroll;
  @media (min-width: 500px) and (max-width: 599px) {
    width: 475px;
  }
  @media (min-width: 330px) and (max-width: 499px) {
    width: 320px;
  }
  @media (max-width: 329px) {
    width: 250px;
  }
}

.axis_label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: $axis_color;
}

.axis_line {
  stroke: $axis_color;
  stroke-width: 1;
}

.stat_one {
	fill: $stat_one_color;
	color: $stat_one_color;
}

path.stat_one {
	fill: none;
	stroke-width: 2;
	stroke: $stat_one_color;
	stroke-dasharray: 1000; // value longer than actual line
	stroke-dashoffset: 0;
	animation: 3s ease-in-out drawLine;
}

@keyframes drawLine {
	0% {
		stroke-dashoffset: 1000; // equal to stroke-dasharray
	}
}

circle.stat_one {
	fill: #1da1f2;
	stroke: none;
}

.stat_two {
	fill: $stat_two_color;
	color: $stat_two_color;
}

.stat_three {
	fill: $stat_three_color;
	color: $stat_three_color;
}

#bar_area rect {
	animation: 0.8s cubic-bezier(.17,.67,.65,1.34) showBar;
}

@keyframes showBar {
	0% {
		height: 0;
		y: $y_axis; // equal to y-axis
	}
}

// #bar_area {
//   animation: 1.8s cubic-bezier(.5, .8, .5, 1.75) teaseChart;
// }

// @keyframes teaseChart {
//   50% {
//     transform: translate(-200px);
//   }
// }
